.content-info {
  
    padding: 40px 0;
    background-size: cover!important;
    background-position: top center!important;
    background-repeat: no-repeat!important;
    position: relative;
   padding-bottom:100px;
}

table {
    width: 100%;
    /* background: #fff; */
    border: 1px solid #000000;
}

table thead tr th {
    padding: 20px;
    border: 1px solid #000000;
    color: #000;
}

table tr td {
    padding: 10px 20px;
    border: 1px solid #000000;
}
/*  */
table tr td {
    padding: 10px 40px;
    border: 1px solid #000000;
}

.date{
    font-weight: bold;
}
.striped{
    background-color: #6c757d18
}